html {
  font-size: 15px;  
  font-family: 'Raleway', sans-serif;
  background-color: #718871;
}
body {
  width: 1800px;
  margin: 0 auto;
  background-color: #B5AB8D;
  padding: 50px 50px 50px 50px;
  border: 5px solid #3F4006;
}
h1 {
  font-size: 60px;
  text-align: center;
  margin: 0 auto;
  font-family: 'Bodoni Moda', serif;
  padding: 20px 0px 50px 0px;
  color: #000000;
  text-shadow: 3px 3px 2px gray;
  letter-spacing: 3px;
}
img {
  width: 1000px;
  display: block;
  margin: 0 auto;
}
p, ul {
  font-size: 24px;
  line-height: 2;
  letter-spacing: 1px;
  margin: 20px 80px;
}